# -----------------------
# Core Dependencies
# -----------------------
tqdm
loguru
requests
openai

# -----------------------
# Model-related Libraries
# -----------------------
torch
transformers
rank_bm25

# -----------------------
# Optional: For Ollama Provider 
ollama
